<ng-container *ngIf="user$ | async as user; else loadingTemplate">
  <header class="flex justify-between mb-5">
    <button nz-button nzType="text" class="font-bold space-x-3">
      <span
        class="w-2 h-2 rounded-full inline-block bg-primary-500 mb-[1px]"
      ></span>
      Ronin Wallet
    </button>
    <button
      nz-button
      nzType="text"
      class="font-bold space-x-3 icon-large"
      (click)="onLogout()"
    >
      <i nz-icon nzType="icons:person" class="text-primary-500"></i>
    </button>
  </header>

  <main class="flex flex-wrap justify-center gap-8 sm:flex-nowrap">
    <section class="max-w-sm">
      <ronin-credit-card
        [address]="user.walletAddress"
        [balance]="user.currencies[0].balance"
        class="mb-7"
      ></ronin-credit-card>

      <ul class="actions flex justify-center space-x-4">
        <li class="disabled">
          <button nz-button nzType="text" nzSize="large">
            <i nz-icon nzType="icons:credit-card"></i>
          </button>
          <p>Deposit</p>
        </li>

        <li>
          <button
            nz-button
            nzType="text"
            nzSize="large"
            routerLink="transaction/send"
          >
            <i nz-icon nzType="icons:send"></i>
          </button>
          <p>Send</p>
        </li>

        <li class="disabled">
          <button nz-button nzType="text" nzSize="large">
            <i nz-icon nzType="icons:repeat"></i>
          </button>
          <p>Swap</p>
        </li>
      </ul>
    </section>

    <section class="w-full">
      <h3>Assets</h3>
      <ol>
        <ronin-currency-item
          *ngFor="let currency of user.currencies"
          [currency]="currency"
          class="bg-gray-50 rounded-lg mb-3"
        >
        </ronin-currency-item>
      </ol>
    </section>
  </main>
</ng-container>

<ng-template #loadingTemplate>
  <nz-skeleton *ngFor="let i of [0, 1]"></nz-skeleton>
</ng-template>
